@using HyperDimension.Common.Constants
@using HyperDimension.Common.Extensions
@using RazorLight
@inherits TemplatePage<HyperDimension.Domain.Email.EmailTemplate<HyperDimension.Domain.Email.AccountVerification>>

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Model.Localizer["Account Verification for {0}"].Format(Model.Data.User.Username)</title>
</head>

<style>
    .title {
        font-size: 56px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    .content {
        font-size: x-large;
    }

    .token {
        background-color: lightgray;
        border-radius: 12px;
        padding: 8px;
    }

    .token p {
        text-align: center;
        font-size: xx-large;
        font-family: monospace;
    }

    .footer {
        font-size: medium;
    }
</style>.

<body>
<h1 class="title">@Model.Localizer["Account Verification"]</h1>

<div class="content">
    <p>@Model.Localizer["Dear {0}"].Format(Model.Data.User.DisplayName)</p>
    <p>
        @Model.Localizer["Thanks for your account registration on {0}."].Format(Model.MetadataOptions.SiteName)
        @Model.Localizer["Your account's username is {0}"].Format(Model.Data.User.Username)
        @Model.Localizer["This is your account registration code."]
    </p>
</div>

<div class="token">
    <p>@Model.Data.Token</p>
</div>

<div class="content">
    <p>
        @Model.Localizer["Please enter this code on the account verification page to activate your account."]
        @Model.Localizer["It will expire in {0} minutes."].Format(SecurityTokenConstants.AccountVerificationTokenLifetime / 60)
    </p>
</div>

<div class="content">
    <p>
        <a href="@Model.ApplicationOptions.AccountVerificationUrl.Replace("{TOKEN}", Model.Data.Token)">
            @Model.Localizer["You can also click this message to go to the page to activate your account"]
        </a>
    </p>
</div>

<div class="footer">
    <p>
        @Model.Localizer["If you did not register on {0}, please ignore this email."].Format(Model.MetadataOptions.SiteName)
    </p>
    <p>
        @Model.Localizer["This email is automatically sent by the system, please do not reply."]
    </p>
</div>

</body>
</html>
