@using HyperDimension.Common.Constants
@using HyperDimension.Common.Extensions
@using RazorLight
@inherits TemplatePage<HyperDimension.Domain.Email.EmailTemplate<HyperDimension.Domain.Email.TwoFactorAuthenticationCode>>

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Model.Localizer["Two Factor Authentication Code for {0}"].Format(Model.Data.User.Username)</title>
</head>

<style>
    .title {
        font-size: 56px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    .content {
        font-size: x-large;
    }

    .token {
        background-color: lightgray;
        border-radius: 12px;
        padding: 8px;
    }

    .token p {
        text-align: center;
        font-size: xx-large;
        font-family: monospace;
    }

    .footer {
        font-size: medium;
    }
</style>

<body>
<h1 class="title">@Model.Localizer["Two Factor Authentication Code"]</h1>

<div class="content">
    <p>@Model.Localizer["Dear {0}"].Format(Model.Data.User.DisplayName)</p>
    <p>
        @Model.Localizer["You are trying to log in to {0}."].Format(Model.MetadataOptions.SiteName)
        @Model.Localizer["Your account's username is {0}"].Format(Model.Data.User.Username)
        @Model.Localizer["This is your two factor authentication code."]
        @Model.Localizer["It will expire in {0} minutes."].Format(SecurityTokenConstants.TwoFactorAuthenticationTokenLifetime / 60)
    </p>
</div>

<div class="token">
    <p>@Model.Data.Code</p>
</div>

<div class="content">
    <p>
        @Model.Localizer["PLEASE DO NOT SHARE THIS CODE WITH ANYONE ELSE!"]
    </p>
    <p>
        @Model.Localizer["IF YOU DID NOT TRY TO LOG IN, PLEASE REVIEW YOUR ACCOUNT SECURITY IMMEDIATELY."]
    </p>
</div>

<div class="footer">
    <p>
        @Model.Localizer["This email is automatically sent by the system, please do not reply."]
    </p>
</div>

</body>

</html>
